{:db
 {:auto-commit        true
  :read-only          false
  :connection-timeout 30000
  :validation-timeout 5000
  :idle-timeout       600000
  :max-lifetime       1800000
  :minimum-idle       3
  :maximum-pool-size  20
  :pool-name          "db-pool"
  :adapter            "postgresql"
  :username           "ed"
  :password           "ed"
  :database-name      "ed-factions"
  :server-name        "localhost"
  :port-number        5432
  :register-mbeans    false}

 :timbre
 {:level          :info
  :ns-blacklist   ["com.zaxxer.hikari.*"]
  :timestamp-opts {:timezone :jvm-default}}

 :nrepl
 {:host "0.0.0.0"
  :port 0}

 :eddb
 {:update-url             "tcp://eddn-relay.elite-markets.net:9500"

  :Xfactions              "./downloads/factions.jsonl"
  :factions               "./downloads/factions.1.jsonl"
  :systems-populated     "./downloads/systems_populated.jsonl"
  ;; :systems-populated      "https://eddb.io/archive/v5/systems_populated.jsonl"
  ;; just keep them for reference
  :live-factions          "https://eddb.io/archive/v5/factions.jsonl"
  :live-systems-populated "https://eddb.io/archive/v5/systems_populated.jsonl"

  :journal-schema         "http://schemas.elite-markets.net/eddn/journal/1"}

 :app
 {:new-db              true
  :faction-actor-count 10
  :system-actor-count  10}

 }
