{:recreate-db true

 :db
 {:auto-commit        true
  :read-only          false
  :connection-timeout 30000
  :validation-timeout 5000
  :idle-timeout       600000
  :max-lifetime       1800000
  :minimum-idle       3
  :maximum-pool-size  10
  :pool-name          "db-pool"
  :adapter            "postgresql"
  :username           "ed"
  :password           "ed"
  :database-name      "ed-factions"
  :server-name        "localhost"
  :port-number        5432
  :register-mbeans    false}

 :timbre
 {:level :info
  :ns-blacklist  ["com.zaxxer.hikari.*"]
  :timestamp-opts {:timezone :jvm-default}}

 :nrepl
 {:host "0.0.0.0"
  :port 0}

 :eddb
 {:url "tcp://eddn-relay.elite-markets.net:9500"}

 :ed-systems
 [{:name "Exioce" :distance 30.0}
  {:name "Apathaam" :distance 30.0}
  {:name "Azrael" :distance 30.0}
  {:name "Cardea" :distance 30.0}
  {:name "Njiri" :distance 30.0}]}