{:auto-commit        true
 :read-only          false
 :connection-timeout 30000
 :validation-timeout 5000
 :idle-timeout       600000
 :max-lifetime       1800000
 :minimum-idle       3
 :maximum-pool-size  10
 :pool-name          "db-pool"
 :adapter            "postgresql"
 :username           "ed"
 :password           "ed"
 :database-name      "ed-factions"
 :server-name        "localhost"
 :port-number        5432
 :register-mbeans    false}